section {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 32px;
    font-size: 24px;
    background-color: rgb(239, 211, 235);
    border-radius: 5%;
    
}

img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

